.header {
  padding: 1rem;

  background-color: var(--secondary-color);

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__home {
    display: block;
    width: 40px;
    height: 40px;
  }
  &__auth {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__user {
    color: #fff;
    display: block;

    margin: auto 1rem;
  }

  &__sign {
    display: block;
    padding: 0.5rem;

    font-weight: bold;
    text-align: center;
    color: #000;

    border: 3px solid #000;
    border-radius: 5px;
    background-color: white;
  }
  &__sign:hover {
    background-color: #000;
    color: #fff;
  }
}
