.msg {
  margin: 0 auto;
  width: 600px;
  padding: 1rem;

  border: 3px solid var(--secondary-color);
  border-radius: 7px;

  &__error {
    margin: 0 0 1rem 0;
    color: red;
    font-weight: bold;
  }
  &__success {
    color: green;
    font-weight: bold;
  }
}
