.pagination {
  display: flex;
  justify-content: center;

  padding: 1rem;

  width: 100%;

  background-color: var(--secondary-color);

  &__btn {
    width: 4rem;
    height: 3rem;

    font-weight: bold;

    cursor: pointer;
  }
  &__btn:hover {
    color: #fff;
    background-color: var(--secondary-color);
  }
  &__btn--active {
    color: #fff;
    background-color: var(--secondary-color);
  }
}
